{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid mt-2">
        <h1 class="text-center">REST API</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Action</th>
                <th scope="col">URL</th>
                <th scope="col">Method</th>
                <th scope="col">Variables</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Register new user</td>
                <td><a href="http://{{ host }}/api/v1/auth/users/">http://{{ host }}/api/v1/auth/users/</a></td>
                <td>POST</td>
                <td>username, email, password</td>
            </tr>
            <tr>
                <td>Get access token</td>
                <td><a href="http://{{ host }}/api/v1/auth/jwt/create/">http://{{ host }}/api/v1/auth/jwt/create/</a></td>
                <td>POST</td>
                <td>username, password</td>
            </tr>
            <tr>
                <td>Get your user</td>
                <td><a href="http://{{ host }}/api/v1/auth/users/me/">http://{{ host }}/api/v1/auth/users/me/</a></td>
                <td>GET</td>
                <td><span class="badge bg-warning text-dark">You need JWT token</span></td>
            </tr>
            <tr>
                <td>Get all users</td>
                <td>
                    <a href="http://{{ host }}/api/v1/accounts/all-profiles">http://{{ host }}/api/v1/accounts/all-profiles</a>
                </td>
                <td>GET</td>
                <td><span class="badge bg-warning text-dark">You need JWT token</span></td>
            </tr>
            <tr>
                <td>Update authenticated user</td>
                <td>
                    <a href="http://{{ host }}/api/v1/accounts/profile/[id]">http://{{ host }}/api/v1/accounts/profile/[id]</a>
                </td>
                <td>PUT</td>
                <td>description, location, is_creator | <span
                        class="badge bg-warning text-dark">You need JWT token</span></td>
            </tr>
            <tr>
                <td>Create post</td>
                <td><a href="http://{{ host }}/api/v1/posts/">http://{{ host }}/api/v1/posts/</a></td>
                <td>POST</td>
                <td>body | <span class="badge bg-warning text-dark">You need JWT token</span></td>
            </tr>
            <tr>
                <td>Like post</td>
                <td><a href="http://{{ host }}/api/v1/posts/[id]/like">http://{{ host }}/api/v1/posts/[id]/like</a></td>
                <td>POST</td>
                <td><span class="badge bg-warning text-dark">You need JWT token</span></td>
            </tr>
            <tr>
                <td>Get info about post</td>
                <td><a href="http://{{ host }}/api/v1/posts/[id]">http://{{ host }}/api/v1/posts/[id]</a></td>
                <td>GET</td>
                <td>Nothing</td>
            </tr>
            <tr>
                <td>Become a fan of the post</td>
                <td><a href="http://{{ host }}/api/v1/posts/[id]">http://{{ host }}/api/v1/posts/[id]</a></td>
                <td>GET</td>
                <td><span class="badge bg-warning text-dark">You need JWT token</span></td>
            </tr>
            <tr>
                <td>Get users, who liked post</td>
                <td><a href="http://{{ host }}/api/v1/posts/[id]/fans">http://{{ host }}/api/v1/posts/[id]/fans</a></td>
                <td>GET</td>
                <td><span class="badge bg-warning text-dark">You need JWT token</span></td>
            </tr>
            <tr>
                <td>Remove like</td>
                <td><a href="http://{{ host }}/api/v1/posts/[id]/unlike/">http://{{ host }}/api/v1/posts/[id]/unlike/</a></td>
                <td>POST</td>
                <td><span class="badge bg-warning text-dark">You need JWT token</span></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}